.box {
  height: 100vh; 
  display: grid;
  gap: 10px;
}
.box-1 {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  background-color: #333;
}
.box-2 {
  grid-column: 5/10;
  grid-row: 1/4;
  background-color: #333;
}
.box-3 {
  grid-column: 10/13;
  grid-row: 1/3;
  background-color: #333;
}
.box-4 {
  grid-column: 1/5;
  grid-row: 3/6;
  background-color: #333;
}
.box-5 {
  grid-column: 5/10;
  grid-row: 4/8;
  background-color: #333;
}
.box-6 {
  grid-column: 10/13;
  grid-row: 3/5;
  background-color: #333;
}
.box-7 {
  grid-column: 1/5;
  grid-row: 6/8;
  background-color: #333;
}
.box-8 {
  grid-column: 10/13;
  grid-row: 5/8;
  background-color: #333;
}
.box-9 {
  grid-column: 1/3;
  background-color: #333;
}
.box-10 {
  grid-column: 3/4;
  background-color: #333;
}
.box-11 {
  grid-column: 4/7;
  background-color: #333;
}
.box-12 {
  grid-column: 7/8;
  background-color: #333;
}
.box-13 {
  grid-column: 8/10;
  background-color: #333;
}
.box-14 {
  grid-column: 10/13;
  background-color: #333;
}
